/* app.css */

/* Estilos generales para el contenido principal */
body {
  margin: 0; /* Elimina el margen predeterminado del body */
  overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

#root {
  
  margin: 0 auto; /* Centra el contenido en el eje horizontal */
  text-align: center;
  width: 100%;
}


.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 1.5em #bbbbbbaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 1.5em rgba(255, 255, 255, 0.568));
}


@media (prefers-reduced-motion: no-preference) {
  .logo:hover {
    animation: logo-spin infinite 20s linear;
  }
}

/* Estilos para el contenido principal dentro de la card */
.card {
  padding: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* Estilos adicionales si es necesario */
.read-the-docs {
  color: #888;
}

.welcome-text {
  font-size: 16px;
  color: #8e8e8e;
  margin-bottom: 20px;
  max-width: 650px;
  line-height: 1.5;
  margin: 0 auto;
  text-align: center;

  opacity: 0;
  transform: translateY(30px);
  transition: opacity 500ms ease-out, transform 500ms ease-out; /* Agregamos transiciones */

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

